@font-face {
  font-family: 'Sansation Bold';
  src: url('../font/Sansation_Bold-webfont.svg') format('svg'), url('../font/Sansation_Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #1a1a1a;
  margin: 0px;
  padding: 0px;
  font-family: 'Sansation Bold';
  font-size: 16px;
  color: #f9f9f9;
}
.heading1 {
  font-family: 'Sansation Bold';
  color: #f9f9f9;
  font-size: 24px;
  margin-bottom: 10px;
}
#container-header {
  background-image: url('../img/pahub-title.png');
  height: 88px;
  width: 481px;
}
.header-title {
  position: absolute;
  top: 60px;
  left: 97px;
  color: #008cff;
  font-weight: bold;
  font-size: 24px;
}
#container-sections {
  background-color: #0b0b0b;
  display: block;
  position: absolute;
  top: 124px;
  bottom: 60px;
  left: 0px;
  width: 262px;
  height: auto;
  border-width: 0px 28px 0px 0px;
  border-image: url("../img/sections/img_start_panel_black.png") 28 28 48 28 fill;
  z-index: 0;
}
#container-sections.container-sections-minimised {
  width: 52px;
}
#container-sections-header {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}
#container-sections-cont {
  padding-top: 20px;
  display: block;
  position: relative;
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
}
#container-sections-cont-header {
  display: block;
  position: relative;
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
}
.section {
  display: block;
  position: relative;
  margin: -12px -22px -12px 14px;
  height: 32px;
  cursor: pointer;
  border-image: url("../img/sections/btn_start_menu_rect_rest.png") 10 14 18 14 fill;
  border-width: 10px 14px 18px 14px;
}
.section-header {
  display: inline-block;
  position: relative;
  height: 32px;
  width: 32px;
  margin-left: -10px;
  padding: 0px;
  cursor: pointer;
  border-image: url("../img/sections/btn_start_menu_header_rest.png") 10 14 18 14 fill;
  border-width: 10px 14px 18px 14px;
}
.section:hover,
.section-header:hover {
  border-image: url("../img/sections/btn_start_menu_rect_hover.png") 10 14 18 14 fill;
}
.selected-section {
  border-image: url("../img/sections/btn_start_menu_rect_active.png") 10 14 18 14 fill;
}
.section-last {
  border-image: url("../img/sections/btn_start_menu_bottom_rest.png") 10 17 18 14 fill;
  border-width: 10px 17px 18px 14px;
}
.section-last:hover {
  border-image: url("../img/sections/btn_start_menu_bottom_hover.png") 10 17 18 14 fill;
  border-width: 10px 17px 18px 14px;
}
.section-last.selected-section {
  border-image: url("../img/sections/btn_start_menu_bottom_active.png") 10 17 18 14 fill;
  border-width: 10px 17px 18px 14px;
}
.section-display-name {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background: -webkit-linear-gradient(#ffffff, #d3d3d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: .8px;
  padding: 6px;
  padding-top: 8px;
  padding-left: 12px;
  float: left;
  font-weight: bold;
}
.section-icon {
  float: left;
  width: 24px;
  height: 24px;
}
.section-icon img {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 24px;
  height: 24px;
}
#container-tabs {
  box-sizing: border-box;
  border-bottom: 1px solid #515151;
  display: block;
  position: absolute;
  top: 88px;
  left: 262px;
  right: 0px;
  width: auto;
  height: 36px;
  padding-left: 37px;
}
#container-tabs.container-sections-minimised {
  left: 52px;
}
.tab {
  color: #ffffff;
  display: inline-block;
  position: relative;
  height: 23px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -5px;
  cursor: pointer;
  border-radius: 0px;
  border-image: url("../img/tabs/img_tab_std_rest.png") 12 12 1 11 fill;
  border-width: 12px 12px 1px 11px;
  font-size: 14px;
  text-transform: uppercase;
}
.tab:hover {
  border-image: url("../img/tabs/img_tab_std_hover.png") 12 12 1 11 fill;
}
.selected-tab {
  border-image: url("../img/tabs/img_tab_std_active.png") 12 12 1 11 fill;
}
.tab-display-name {
  float: left;
}
.tab-icon {
  float: left;
}
.tab-icon img {
  width: 16px;
  height: 16px;
}
#container-content {
  box-sizing: border-box;
  background-color: #0b0b0b;
  display: block;
  position: absolute;
  top: 124px;
  bottom: 60px;
  left: 290px;
  right: 0px;
  width: auto;
  height: auto;
}
#container-content.container-sections-minimised {
  left: 80px;
}
.content {
  color: #515151;
  display: block;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: -webkit-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  margin: 0px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 12px;
  padding-bottom: 5px;
  overflow: auto;
}
.innercontent {
  display: block;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#container-footer {
  box-sizing: border-box;
  border-top: 1px solid #515151;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  height: 60px;
}
.wrapper {
  color: #515151;
  display: block;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.input-label {
  width: 100px;
  display: inline-block;
  color: #888888;
}
.text-button {
  display: inline-block;
  color: #008cff;
  cursor: pointer;
}
.text-button:hover {
  color: #00deff;
}
.text-button:before {
  content: " [ ";
}
.text-button:after {
  content: " ] ";
}
.loading-text {
  float: left;
  padding-top: 10px;
  color: #f9f9f9;
}
.checkbox-wrapper {
  display: inline-block;
  position: relative;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}
input[type="checkbox"] {
  opacity: 0;
  height: 16px;
  width: 16px;
  margin: 0px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
input[type="checkbox"] + label {
  background: url('../img/checkbox_unchecked.png') no-repeat;
  margin: 0px;
  height: 16px;
  width: 16px;
  position: absolute;
  z-index: 1;
}
input[type="checkbox"]:checked + label {
  background: url('../img/checkbox_checked.png') no-repeat;
}
